<!DOCTYPE html>
<html>
<head>
	<title>Login and Registration</title>
	

	<script
  	src="https://code.jquery.com/jquery-3.3.1.min.js"
 	integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
 	crossorigin="anonymous"></script>


	{% load static %}
	

	<link rel="stylesheet" type="text/css" href="{% static 'style.css' %}" >
</head>
<body>
<div class="container-fluid">
<video autoplay muted loop id="myVideo">
  <source src="{% static 'dragVideo.mp4' %}" type="video/mp4">
</video>
	<nav class="navbar navbar-light bg-light">
	  <form action = "/login" method = "post" class="form-inline">
	  	{% csrf_token %}
	    <div class="input-group">
	      <div class="input-group-prepend">
	        <span class="input-group-text" id="basic-addon1">Email</span>
	      </div>
	      <input type="text" class="form-control" placeholder="email" name = "email" aria-label="email" aria-describedby="basic-addon1">
	    </div>
	    <div class="input-group">
	      <div class="input-group-prepend">
	        <span class="input-group-text" id="basic-addon1">Password</span>
	      </div>
	      <input type="password" class="form-control" name ="password" placeholder="password" aria-label="password" aria-describedby="basic-addon1">
	    </div>

	    <button class="btn btn-outline-success" type="submit">Login</button>
	    <a href = "/register" method = 'post'><button class="btn btn-outline-success" type="button">Register</button></a>

	  </form>
	</nav>
	{% if messages %}
<ul class="messages">
    {% for message in messages %}
    <li>{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
    {% endfor %}
</ul>
{% endif %}

	<div class="row content">
		<div class="col col-12 text-center search">
			<h3>Search for a queen! </h3>

			<div class="form-signin">
				<input id="q" type="text" placeholder="What's the tea..." autocomplete="off"/>
			    <br/>
			    <div class="margin">
			        <div id="results"></div>
			    </div>
			</div>
		</div>
	</div>
</div>

<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">

<script src = "{% static 'ajax.js' %}" ></script>
<script src = "{% static 'test.js' %}" ></script>

</body>
</html>

